<ion-content color="light">
    <div class="contact-popup">
        <ion-icon name="close" (click)="onClose()"></ion-icon>
        
        <div class="title">
            <ion-label>{{ friend.nickname }}</ion-label>
        </div>
        
        <ion-avatar>
            <ion-label [ngStyle]="{ 'color': friend.avatarColor ? friend.avatarColor : UI.getColor() }">
                {{ UI.getInitials(friend.nickname) }}
            </ion-label>
        </ion-avatar>

        <div class="message-bubble">
            {{ friend.message }}
            <div class="bubble-tail"></div>
        </div>

        <div class="buttons">
            <ion-button class="dangerButton" (click)="onAccept()">Accept</ion-button>
            <ion-button class="mediumButton" (click)="onDecline()">Decline</ion-button>
        </div>
    </div>
</ion-content>