.onboard {
    justify-content: center;

    img {
        width: 121px;
        height: 121px;
    }

    h1 {
        margin: 40px 0 20px;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 0.36px;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: -0.08px;
    }
}